/* 初始化 */
* {
    margin: 0;
    padding: 0;
}
/* 地图区域 */
.box {
    width: 800px;
    margin: 100px auto;
    position: relative;
}
.map {
    height: 500px;
    background-color: black;
}
.messages {
    height: 100px;
    background-color: rgba(31, 27, 27, 0.342);
    overflow: hidden;
}
.buttons {
    width: 60%;
    margin: 5px auto;
}
.buttons input {
    margin: 0 20px;
}
p {
    margin-left: 200px;
    margin-top: 3px;
}
