body {
  width: 10rem;
  height: 17.06666667rem;
  margin: 0 auto;
  background-color: #F3F3F3;
  font-size: 0.26666667rem;
  color: #ffffff;
}
.banner {
  position: relative;
  height: 405px;
  overflow: hidden;
}
.banner a {
  display: block;
  width: 750px;
  height: 402px;
  background: url(../uploads/banner.png) no-repeat;
  background-size: 750px auto;
}
nav {
  width: 716px;
  height: 480px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #fff;
}
nav .t-nav {
  width: 646px;
  height: 270;
  display: flex;
  flex-wrap: wrap;
  margin: 46px auto 0;
  padding-bottom: 35px;
  border-bottom: 1px solid #ccc;
}
nav .t-nav a {
  flex: 25%;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
nav .t-nav a span {
  flex: 4;
  width: 91px;
  height: 91px;
}
nav .t-nav a:nth-child(1) span {
  background: url(../images/nav.png) no-repeat 0 -295px;
  background-size: 91px auto;
}
nav .t-nav a:nth-child(2) span {
  background: url(../images/nav.png) no-repeat 0 -105px;
  background-size: 91px auto;
}
nav .t-nav a:nth-child(3) span {
  background: url(../images/nav.png) no-repeat 0 -7px;
  background-size: 91px auto;
}
nav .t-nav a:nth-child(4) span {
  background: url(../images/nav.png) no-repeat 0 -488px;
  background-size: 91px auto;
}
nav .t-nav a:nth-child(5) span {
  background: url(../images/nav.png) no-repeat 0 -295px;
  background-size: 91px auto;
}
nav .t-nav a:nth-child(6) span {
  background: url(../images/nav.png) no-repeat 0 -583px;
  background-size: 91px auto;
}
nav .t-nav a:nth-child(7) span {
  background: url(../images/nav.png) no-repeat 0 -391px;
  background-size: 91px auto;
}
nav .t-nav a:nth-child(8) span {
  background: url(../images/nav.png) no-repeat 0 -197px;
  background-size: 91px auto;
}
nav .t-nav a p {
  width: 100px;
  height: 60px;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
  color: #878787;
}
nav .b-nav {
  position: relative;
  overflow: hidden;
}
nav .b-nav::before {
  position: absolute;
  content: "";
  display: block;
  width: 69px;
  height: 72px;
  top: 25px;
  left: 50px;
  background: url(../images/news.png) no-repeat;
  background-size: 69px auto;
}
nav .b-nav::after {
  position: absolute;
  content: "";
  display: block;
  width: 0px;
  height: 65px;
  border-left: 1px solid blue;
  top: 30px;
  left: 134px;
}
nav .b-nav .news {
  margin-top: 25px;
}
nav .b-nav .news a {
  position: relative;
  display: block;
  padding-left: 240px;
  height: 43px;
  font-size: 24px;
  color: #B7B7B7;
}
nav .b-nav .news a::before {
  position: absolute;
  content: "";
  display: block;
  width: 67px;
  height: 29px;
  left: 158px;
}
nav .b-nav .news a:nth-child(1)::before {
  background: url(../images/info.png) no-repeat;
  background-size: 67px auto;
}
nav .b-nav .news a:nth-child(2)::before {
  background: url(../images/hot.png) no-repeat;
  background-size: 67px auto;
}
.shopping {
  position: relative;
  width: 697px;
  height: 430px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid #ddd;
}
.shopping h3 {
  color: #3F3F3F;
  height: 70px;
  line-height: 70px;
  padding-left: 30px;
}
.shopping .more {
  position: absolute;
  left: 136px;
  top: 25px;
  color: #7F8699;
}
.shopping .shopping-list {
  width: 639px;
  height: 245px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
}
.shopping .shopping-list a {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3F3F3F;
}
.shopping .shopping-list a h4 {
  margin-top: 10px;
  height: 48px;
  font-size: 26px;
  line-height: 48px;
}
.shopping .shopping-list a p {
  height: 50px;
  font-size: 18px;
}
.shopping .shopping-list a span {
  width: 114px;
  height: 105px;
  background: url(../images/shopping-list_2.png) no-repeat;
  background-size: 114px auto;
}
.shopping .shopping-list a:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
